.link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.text-link {
    color: var(--color-primary);
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-underline-offset: 3px;
}

.text-link:hover {
    color: var(--color-primary);
    transform: scale(1.02);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.link.grey {
    color: var(--color-text-secondary);
}

.nav-link {
    display: flex;
    gap: 1rem;
    color: var(--color-text-main);
    font-family: var(--font-heading);
    font-size: 14px;
    height: 100%;
    padding: .5rem .5rem;
}

.nav-link i {
    color: var(--color-text-main);
    font-size: 20px;
} 

.header-nav .tooltip {
    display: none;
}

.sidebar.fit .nav-link {
    padding-left: .8rem;
    padding-right: .8rem;
}

.sidebar.full .nav-link {
    padding-left: .6rem;
    padding-right: .6rem;
}

.nav-link.smaller {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.nav-link.small {
    padding-top: .50rem;
    padding-bottom: .50rem;
}

.nav-link.medium {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.nav-link.large{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-link span {
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
    pointer-events: none;
}

.nav-link span.body {
    font-family: var(--font-body);
}

.nav-link span.heading {
    font-family: var(--font-heading);
}

.sidebar .nav-link .tooltip {
    position: absolute;
    top: 50;
    left: calc(100% - 5px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar .nav-link:hover .tooltip {
    font-family: var(--font-body);
    font-size: 13px;
    color: var(--color-text-main);
    background: var(--color-background-alt);
    opacity: 1;
    pointer-events: auto;
    left: calc(100% + 20px);
}

.nav-link.active span,
.nav-link.active i {
    color: var(--color-primary);
}

.text.contained {
    background-color: transparent;
    border-color: transparent;
}

.text.contained:hover {
    background-color: var(--color-primary);
    filter: brightness(1.0);
}

.text.contained:hover span, .text.contained:hover i {
    color: white;
}