[submodule "frontend"]
	path = frontend
	url = https://github.com/FelipeBertoli/project-pattern-react.git
[submodule "backend"]
	path = backend
	url = https://github.com/FelipeBertoli/project-pattern-backend.git
