/* ----- Estilos Gerais de Botão ----- */
.button {
  color: white;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0;
}

.button:hover {
  transform: scale(1.05);
}

.button span {
  display: inline-block;
}

.button.disabled {
  pointer-events: none;
  cursor: initial;
  transform: scale(1.0);
}

:is(button, .button).disabled{
  filter: brightness(.8);
}

:is(.button.text, .button.outlined).disabled{
  filter: brightness(.6);
  background-color: transparent;
}

/* ----- Botões principais ----- */
.action-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
}

.action-button.fit {  
  width: fit-content;
}

.action-button.full {
  width: var(--action-width);
}

/*#region ICON BUTTON*/
.icon-button {
  border-radius: 3rem;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button i {
  color: #f2f2f2;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button.xs {
  width: 25px;
  height: 25px;
  font-size: 12.5px;
}

.icon-button.sm {
  width: 32px;
  height: 32px;
  font-size: 16px !important;
}

.icon-button.md {
  width: 40px;
  height: 40px;
  font-size: 20px !important;
}

.icon-button.lg {
  width: 50px;
  height: 50px;
  font-size: 25px !important;
}

.icon-button.xl{
  width: 60px;
  height: 60px;
  font-size: 30px !important;
}

.icon-button.xxl{
  width: 80px;
  height: 80px;
  font-size: 40px !important;
}

/*#endregion*/

