.input-label {
  color: var(--color-text-main);
  font-family: var(--font-body);
  font-size: 13px;
  font-weight: 600;
  padding-left: .3rem;
}

.input-label-required {
  color: red;
  padding-left: 2px;
  font-weight: 200;
}
