.input-label {
  font-size: 14px;
  font-weight: 500;
  padding-left: .3rem;
}

.input-label-required {
  color: red;
}

.link {
  cursor: pointer;
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 500;
  height: 95%;
  text-decoration: none;
  text-underline-offset: 3px;
}

.link.grey {
  color: var(--color-text-secondary);
}

.link:hover {
  color: var(--color-primary-hover);
  transform: scale(1.02);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}