.input-label {
  position: absolute;
  left: 0.75rem;
  top: 1.1rem;
  color: #777;
  pointer-events: none;
  transition: 0.2s ease all;
  background: white;
  padding: 0 0.25rem;
}

.input-label-required {
  color: red;
  padding-left: 2px;
  font-weight: 200;
}


.icon-text {
  display: inline-flex;
  text-align: end;
  align-items: center;
  gap: 1vw;
  color: var(--color-primary);
  font-size: large;
}

.icon-text span {
  font-style: italic;
  text-align: justify;  
}

.icon-text b {
  color: var(--color-primary);
  font-weight: 900;
}