/*#region Classic Menu*/

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--color-background-contrast);
  z-index: 99;
  border-right: var(--line-border);
}

.sidebar.fit {
  padding: 0;
  width: 50px;
}

.sidebar.full {
  width: 70px;
  padding: 6px 14px;
}

/*#region Open e Close Menu*/


.sidebar.open {
  width: 250px;
}

.sidebar.open li .tooltip {
  display: none;
}

#btn {
  position: absolute;
  top: 50%;
  left: 2.5vw;
  transform: translateY(-50%);
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

.sidebar li .link span {
  opacity: 0;
}

.sidebar.open li .link span {
  opacity: 1;
  pointer-events: auto;
}

.menu-section {
  height: 60px;
}

/*#endregion*/

/*#region Navlist e espaçamento do Menu*/
.sidebar .nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 100%;
  padding: 0;
}

.sidebar .nav-list.smaller {
  gap: .5rem;
}

.sidebar .nav-list.small {
  gap: 1rem;
}

.sidebar .nav-list.medium {
  gap: 1.5rem;
}

.sidebar .nav-list.large {
  gap: 2rem;
}
/*#endregion*/

/*#region Logo do Menu*/
.sidebar .logo-details {
  height: 60px;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 1rem;
}

.sidebar.fit .logo-details {
  left: .25rem;
}

.sidebar.open .logo-details {
  left: 3rem;
}

.sidebar.fit.open .logo-details {
  left: 2.75rem;
}

.sidebar.reverse .logo-details {
  bottom: 0;
  top: unset;
}

.sidebar .logo-details .logo {
  pointer-events: none;
  transition: none;
}

.sidebar.open .logo-details .logo {
  margin-left: -20px;
  width: 10px;
  visibility: visible;
  pointer-events: auto;
  transition: var(--transition);
}

/*#endregion*/

/*#region Profile do Menu*/
.sidebar li.profile {
  position: fixed;
  height: 60px;
  left: 0;
  bottom: 0;
  background: var(--color-background-soft);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px 12px;
}

.sidebar.fit li.profile {
  padding: 10px 8px;
  width: 50px;
}

.sidebar.full li.profile {
  width: 70px;
}

.sidebar.reverse li.profile {
  top: 0;
  bottom: unset;
}

.sidebar .profile-content {
  display: flex;
  align-items: center;
  opacity: 1;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.sidebar.open li .profile-details {
  opacity: 1;
}

.sidebar li img {
  background-color: white;
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 2rem;
  margin-right: 10px;
}

.sidebar.fit li img {
  height: 35px;
  width: 35px;
}

.sidebar .profile .icon-button {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  font-size: 18px;
  display: none;
  opacity: 0;
}

.sidebar.open .profile .icon-button {
  right: 20px;
  display: block;
  opacity: 1;
}

/*#endregion*/

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
/*#endregion*/

/*#region Float Menu*/
.float-menu {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  height: fit-content;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  box-shadow: var(--shadow);
  transform: translate(-50%, -50%) scale(0.95);
}

.float-menu.left {
  left: 3.5%;
}

.float-menu.right {
  right: 1%;
}

.float-menu.center {
  top: 50%;
}

.float-menu.top {
  top: 25%;
}

.float-menu.bottom {
  top: 75%;
}

.float-menu.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

.float-menu-nav {
  box-shadow: none;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 1rem;

}

/*#endregion*/

