.border-none {
    border-radius: 0;
}

.border-small {
    border-radius: var(--border-radius-sm);
}

.border-medium {
    border-radius: var(--border-radius-md);
}

.border-large {
    border-radius: var(--border-radius-lg);
}

.border-full {
    border-radius: var(--border-radius-full);
}
